body{
  background-color: #02010a;
  font-family: "Dancing Script";
}

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1{
  text-shadow: 2px 2px #02010a;
  color: white;
}

#active {
  text-decoration: none;
}

header ul{
  list-style: none;
  overflow: hidden;
  font-weight: bolder;
  font-size: 25px;
}

li{
  margin: 10px 10px 0px 10px;
  display: inline;
}

li a:visited{
  color: white;
}

li a:link{
  color: white;
}

section{
  text-align: center;
  background-color: #d5c75f;
}

section img{
  width: 29%;
  filter: drop-shadow(2px 2px #02010a);
}

.fila1 img{
  padding: 40px 20px;
}

.fila2 img{
  padding: 0px 20px 40px 20px;
}

footer{
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.C2 img{
  width: 25px;
}

#titulo{
  font-size: 22px;
  font-weight: bolder;
}
