.Contenido{
  max-width: 900px;
  margin: 0 auto;
}

body{
  background-color: #02010a;
  font-family: "Dancing Script";
}

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1{
  text-shadow: 2px 2px #02010a;
  color: white;
}

#active {
  text-decoration: none;
}

header ul{
  list-style: none;
  overflow: hidden;
  font-weight: bolder;
  font-size: 25px;
}

li{
  margin: 10px 10px 0px 10px;
  display: inline;
}

li a:visited{
  color: white;
}

li a:link{
  color: white;
}

#principal{
  background-color: #82c3a6;
  text-align: center;
}

#principal img{
  margin-top: 10px;
  margin-bottom: 5px;
  filter: drop-shadow(2px 2px 2px#02010a);
}

#imagenes{
  display: flex;
  justify-content: space-around;
  background-color: #d5c75f;
  text-align: center;
}

#imagenes img{
  border: solid 1px black;
  width: 100%;
  height: 260px;
  filter: drop-shadow(2px 2px 2px #02010a);
}

.paisaje img:hover{
  transition: all 1s;
  transform: rotate(10deg);
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-box-shadow: 2px 2px 2px #82c3a6;
  -moz-box-shadow: 2px 2px 2px #82c3a6;
}

.retratos img:hover{
  transition: all 1s;
  transform: translate(20px,-5px);
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-box-shadow: 2px 2px 2px #82c3a6;
  -moz-box-shadow: 2px 2px 2px #82c3a6;
}

footer{
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.C2 img{
  width: 25px;
}

.C2 a:link{
  text-decoration: none;
  color: black;
}

.C2 a:visited{
  text-decoration: none;
  color: black;
}

.C3 a:link{
  text-decoration: none;
  color: black;
}

.C3 a:visited{
  text-decoration: none;
  color: black;
}

#titulo{
  font-size: 22px;
  font-weight: bolder;
}
