body{
  background-color: #02010a;
  font-family: "Dancing Script";
}

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1{
  text-shadow: 2px 2px #02010a;
  color: white;
}

#active {
  text-decoration: none;
}

header ul{
  list-style: none;
  overflow: hidden;
  font-weight: bolder;
  font-size: 25px;
}

li{
  margin: 10px 10px 0px 10px;
  display: inline;
}

li a:visited{
  color: white;
}

li a:link{
  color: white;
}

footer{
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
  display: flex;
  justify-content: space-around;
}
